@model GoogleAPIDemo.Models.Address

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Data input</title>
</head>
<body>
    <form action="/" method="post">
        House No:
        <input type="text" name="HouseNumber" value="" />
        Street:
        <input type="text" name="Street" value="" />
        City:
        <input type="text" name="City" value="" />
        Country:
        <input type="text" name="Country" value="" />
        <input type="submit" name="" value="" />
    </form>
</body>
</html>