@model Project1.Models.Counter

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Counter app</title>
</head>
<body>
    @Model.counter <br>
    <form action="/" method="post">
        <input type="submit" value="Increment number" />
    </form>
 </body>
</html>