<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <nav>
        <center>
            <a href="/list">To the user list</a>
            <a href="/form">Add new user</a>
        </center>
    </nav>
    <h2>Please give the Id of the user: </h2>
    <form action="/fee" method="post">
        Id:
        <input type="text" name="Id" /><br><br>
        <input type="submit" />
    </form>

</body>
</html>
