<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <form action="/add" method="post">
        Name:
        <input type="text" name="Name"><br>
        Fine:
        <input type="text" name="Fine"><br>
        ReaderType:
        <input type="text" name="readerType" /><br>
        VIP:
        <input type="text" name="VIP"><br><br>
        <input type="submit" />
    </form>

</body>
</html>
