<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome page</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>

    <center>
        <h2>Welcome to Green Fox Library!</h2>
        <p>Please provide a reader name:</p>
        <form action="/" method="post">
            Name:
            <input type="text" name="name" />
            <input type="submit" />
        </form>
    </center>
</body>
</html>
