@model SimbaProject.Models.ReaderCard
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
</head>
<body>
    <nav>
        <center>
            <a href="/">Home</a>
            <a href="/list">Reader list</a>
        </center>
    </nav>
    <form action="/updateData/@Model.Id" method="post">
        Name:
        <input type="text" name="Name" value=@Model.Name><br>
        Fine:
        <input type="text" name="Fine" value=@Model.Fine><br>
        ReaderType:
        <input type="text" name="UserType" value=@Model.UserType /><br>
        VIP:
        <input type="text" name="VIP" value=@Model.VIP><br><br>
        <input type="submit" />
    </form>

</body>
</html>
