<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome</title>
</head>
<body>
    <ul>
        <li>Information</li>
    </ul>>
    <img src="~/greenfox.png" alt="Green Fox Logo" />
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks. </p>
    <h2>Known tricks</h2>
    <ul>
        <li>write HTML</li>
        <li>code in c#</li>
    </ul>
</body>
</html>