@model AnagramApp.Models.AnagramChecker

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Result</title>
</head>
<body>
    <p>The given words are anagrams: @Model.IsTrue</p>
</body>
</html>