* {
  margin: 0px;
  padding: 0px;
  border: solid 0px;
}

body {
  box-sizing: border-box;
  padding: 0% 18%;
  font-family: 'Open Sans', sans-serif;
  color: #4A4261;
}

#container {
  background-color: #DCD6CD;
  box-sizing: border-box;
  width: 90%;
  height: 110%px;
  padding-left: 13px;
}

#outer1, #outer2, #outer3, #outer4 {
  box-sizing: border-box;
  padding: 20px;
}

 #outer2, #outer3 {
  margin-top: 20px;
  display: inline-block;
  height: 460px;
  width: 48%;
  vertical-align: middle;
} 
#outer1  {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
} 
 #outer4 {
  width: 100%;
  height: 180px;
  margin-top: 20px;
}
#inner1, #inner2, #inner3 {
  display: inline-block;
  vertical-align: middle;
}

#inner1, #inner2 {
  box-sizing: border-box;
  display: inline-block;
  width: 48%;
  height: 50px;
  position: relative;
  top: 20px;
} 

#inner3 {
  width: 96%;
  column-count: 2;
  column-width: 40%;
} 

.lead {
  background-color: #938C97;
  color: #fff;
  border-radius: 3px;
}

input, select {
  height: 30px;
  border-radius: 3px;
}

.bold {
  font-weight: bold;
}
textarea {
  border-radius: 3px;
}



