<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add</title>
</head>
<body>
    <form action="/posts/add" method="post">
        <label for="content">Content:</label>
        <input type="text" name="Content" id="content"/>
        <input type="text" name="user" />
        <button type="submit">Add</button>
    </form>

</body>
</html>