@model System.Collections.Generic.List<Reddit.Models.Post>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Posts</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <a href="/posts/add">Add Post</a>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Score</th>
                <th scope="col">Uprate</th>
                <th scope="col">Downrate</th>
                <th scope="col">Content</th>
                <th scope="col">Creation time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Score</td>
                    <td><a href="/posts/up?id=@item.PostId"> + </a></td>
                    <td><a href="/posts/down?id=@item.PostId"> - </a></td>
                    <td>@item.Content</td>
                    <td>@item.CreatonTime</td>
                </tr>
            }
        </tbody>
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>