<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create</title>
</head>
<body>
    <form action="/todo/create" method="post">
        Title:
        <input type="text" name="title" /><br>
        Is Urgent:
        <input type="checkbox" name="isUrgent" value="true" /><br>
        <input type="submit" name="name" value="Send" />
    </form>
</body>
</html>