@model System.Collections.Generic.List<TodoApp.Models.Todo>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todos</title>
</head>
<body>
    <h2>Todos for today</h2>
    <a href="/todo/create">Add todo</a><br>
    <table style="width:40%">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Urgent</th>
                <th>Done</th>
            </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.IsUrgent</td>
                <td>@item.IsDone</td>
                <td><a href= "/todo/delete/@item.Id">Delete</a></td>
                <td><a href="/todo/edit/@item.Id">Edit</a></td>
            </tr>
        }
    </table>
</body>
</html>