<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Web Store</title>
</head>
<body>
    <h2>Green Fox Fashion Web Store</h2>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <input type="text" name="quantity" value="" />
    <input type="submit" name="name" value="get total" />
</body>
</html>